body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

.game-info {
  margin-left: 20px;
}

.live-ramp {
  background: rgb(231, 231, 231);
  width: 80%;
  height: 800px;
}

.title {
  text-align: center;
}

.region-green {
  background: rgb(175, 247, 190);
  width: 40%;
  height: 500px;
}

.region-white {
  background: rgb(134, 134, 134);
  width: 40%;
  height: 500px;
}

.my-tree-region {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.tree{
  position:absolute;
  width: 20%;
  margin-left: 200px;
  top:300px;
}

/* .dragm{
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(255, 113, 113);
  border-radius: 50%;
  background-color: red;
} */

.drag-handler {
  background-color: grey;
  height: 50px;
  cursor: move;
}

.box {
  background-color: green;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.drag-item{
  position:absolute;
  z-index: 1000;
}